body{
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
    color: #9d9d9d;
}
h3{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
button{
    cursor:pointer;
    position: relative;
    margin: 3px;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid #9D9D9D;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.sizeBtn{
    float: right;
    color: white;
    background-color: #00805a;
}
.longBtn{
    width: 50px;
    color: #727272;
}
#mainbox{
    width:600px;
    height: 800px;
    margin:auto;
    /*border: 1px solid #9D9D9D;*/
    padding: 10px;
}
#btnBox{
    margin: auto;
    width:600px;
    height: auto;
    position: absolute;
    top: 660px;
    border: 2px solid #9d9d9d;
    background-color: white;
    -webkit-box-shadow: 3px 3px #727272;
    -moz-box-shadow: 3px 3px #727272;
    box-shadow: 3px 3px #727272;
}
#mainMask{
    position: absolute;
    top: 50px;
    width: 600px;
    height: 600px;
    background-image: url("../images/1.jpg");
}
#mainCanvas{
    position: absolute;
    top:50px;
    border: 2px solid #9D9D9D;
    background-color: white;
    -webkit-box-shadow: 3px 3px #727272;
    -moz-box-shadow: 3px 3px #727272;
    box-shadow: 3px 3px #727272;
}
#btn1{
    background-color: red;
}
#btn2{
    background-color: orange;
}
#btn3{
    background-color: yellow;
}
#btn4{
    background-color: green;
}
#btn5{
    background-color: #00805a;
}
#btn6{
    background-color: blue;
}
#btn7{
    background-color: purple;
}
#btn8{
    background-color: black;
}
#btn9{
    background-color: white;
}